*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/buildSrc/build/classes/kotlin/main/META-INF/
/buildSrc/build/
